# **Title**

## **Import the libraries**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## **Processing the data**

In [3]:
video_games_data=pd.read_csv('Video Games Sales.csv',index_col=0)

## **General view of the data**
Look the dataset and verify the missing data

In [11]:
video_games_data.info()
video_games_data.head(10)

<class 'pandas.core.frame.DataFrame'>
Index: 1907 entries, 0 to 1906
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           1907 non-null   int64
 1   Game Title     1907 non-null   object
 2   Platform       1907 non-null   object
 3   Year           1878 non-null   float64
 4   Genre          1907 non-null   object
 5   Publisher      1905 non-null   object
 6   North America  1907 non-null   float64
 7   Europe         1907 non-null   float64
 8   Japan          1907 non-null   float64
 9   Rest of World  1907 non-null   float64
 10  Global         1907 non-null   float64
 11  Review         1907 non-null   float64
dtypes: float64(7), int64(1), object(4)
memory usage: 193.7+ KB

,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
index,,,,,,,,,,,,
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65
4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00
5,6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,10.85,8.87,6.48,2.88,29.08,90.00
6,7,Wii Play,Wii,2006.0,Misc,Nintendo,13.83,9.11,2.93,2.84,28.71,61.64
7,8,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,84.00
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,13.35,6.48,4.66,2.25,26.75,88.18
9,10,Nintendogs,DS,2005.0,Simulation,Nintendo,9.02,10.81,1.93,2.73,24.50,85.00

In [7]:
video_games_data.tail(10)

,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
index,,,,,,,,,,,,
1897,1898,Ace Combat 3: Electrosphere,PS,1999.0,Simulation,Sony Computer Entertainment,0.22,0.15,0.40,0.05,0.83,73.92
1898,1899,Dynasty Warriors 2,PS2,2000.0,Action,THQ,0.24,0.19,0.34,0.06,0.83,71.88
1899,1900,Madden NFL 07,PSP,NaN,Sports,Unknown,0.77,0.03,0.00,0.04,0.83,84.00
1900,1901,Army of Two: The 40th Day,X360,2010.0,Shooter,Electronic Arts,0.52,0.22,0.00,0.08,0.83,72.32
1901,1902,Medal of Honor: Warfighter,X360,2012.0,Shooter,Electronic Arts,0.42,0.32,0.01,0.09,0.83,68.00
1902,1903,Lizzie McGuire 2: Lizzie Diaries,GBA,2004.0,Action,Disney Interactive Studios,0.60,0.22,0.00,0.01,0.83,55.00
1903,1904,Xenoblade Chronicles,Wii,2010.0,Role-Playing,Nintendo,0.39,0.22,0.16,0.07,0.83,91.74
1904,1905,SingStar Abba,PS3,2008.0,Misc,Sony Computer Entertainment,0.25,0.44,0.00,0.14,0.83,73.00
1905,1906,FIFA Soccer World Championship,PS2,2000.0,Sports,Electronic Arts,0.27,0.21,0.28,0.07,0.83,73.00
1906,1907,WWE SmackDown vs. Raw 2011,X360,2010.0,Fighting,THQ,0.42,0.32,0.00,0.09,0.83,82.00

The sales of each videogame have been registred how *North America ,Europe ,Japan , Rest of World ,Global* , and been in million of dolars.

Statistics general of the data

In [9]:
video_games_data.describe()

,Rank,Year,North America,Europe,Japan,Rest of World,Global,Review
count,1907.0000,1878.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000
mean,954.0000,2003.766773,1.258789,0.706675,0.317493,0.206471,2.489240,79.038977
std,550.6478,5.895369,1.956560,1.148904,0.724945,0.343093,3.563159,10.616899
min,1.0000,1983.000000,0.000000,0.000000,0.000000,0.000000,0.830000,30.500000
25%,477.5000,2000.000000,0.510000,0.230000,0.000000,0.060000,1.110000,74.000000
50%,954.0000,2005.000000,0.810000,0.440000,0.020000,0.130000,1.530000,81.000000
75%,1430.5000,2008.000000,1.375000,0.810000,0.300000,0.220000,2.540000,86.230000
max,1907.0000,2012.000000,40.430000,28.390000,7.200000,8.540000,81.120000,97.000000

## **Missing Data**

Check columns for search missing values

In [10]:
video_games_data.isna().sum()

Rank              0
Game Title        0
Platform          0
Year             29
Genre             0
Publisher         2
North America     0
Europe            0
Japan             0
Rest of World     0
Global            0
Review            0
dtype: int64

The most relevant missing data is in the *Year* column. However, since this column contains numeric values, mean imputation was applied (No issues with outlier values, as a video game can be either older or newer.).

In [16]:
mean_year=round(np.mean(video_games_data['Year']),0)
mean_year

2004.0

In [18]:
video_games_data.fillna(value=mean_year,inplace=True)
video_games_data.isna().sum()

Rank             0
Game Title       0
Platform         0
Year             0
Genre            0
Publisher        0
North America    0
Europe           0
Japan            0
Rest of World    0
Global           0
Review           0
dtype: int64

## **The Situation**